[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
flask = "*"
humanize = "*"
peewee = "*"
backoff = "*"
networkx = "*"
aiohttp = "*"
tqdm = "*"
matplotlib = "*"
cachetools = "*"
flask-peewee = "*"
gunicorn = "*"
psycopg2-binary = "*"
Flask-Caching="*"



[dev-packages]

[requires]
python_version = "3.9"
